div
    h1(class='h1Title') Our Team
    div(class='aboutBody')
        - var names = [["Kuchaeva Karina", "Fullstack"], ["Zlobina Svetlana", "Fullstack"], ["Ovchinnikov Maksim", "Designer"], ["Bayramukov Yan", "Bug Designer"], ["Mashkin Egor", "Produser"], ["Vasilchenko Semen", "Tester/Idol"]];
        each name in names
            p #{name[0]} - #{name[1]}



