div(id='menu')
    h1(class='h1Title') Select Mode
    div(class='container group')
        div(class='grid-1-5 col-1')
            h3(class='h3mode')
                span(class='uppercase') Deathmatch
                img(class='msimg' src="resources/deathMatch.png")
                p Select a hero and fight agains other players. Kill more than anybody to win.
        div(class='grid-1-5 col-1')
            h3(class='h3mode')
                span(class='uppercase') Catch Flag
                img(class='msimg' src="resources/flagCapture.png")
                p Catch the flag and bring it to your base to earn a point. Team with 5 points wins.
        div(class='grid-1-5 col-1' onclick="location.href = 'game/index.html'")
            h3(class='h3mode')
                span(class='uppercase') Tutorial
                img(class='msimg' src="resources/tutorial.png")
                p Learn the controls and test weapon and skills before joining muliplayer.

