div
    h1(class='h1Title') Break Away
    div(class='menuBody')
        if logicAuth
            p(class='title' onclick='showGame()')= 'Start'
        else
            p(class='title' onclick='showLogin()')= 'Start'
        p(class='title' onclick='showRating()')= 'Rating'
        if logicAuth
            p(class='title' onclick='userLogout()')= 'Logout'
        p(class='title' onclick='showAbout()')= 'About'

