div
    h1(class='h1Title') Rating
    div(class='ratingBody')
        ol
            each val in players
                li= val

//['Player1', "Player2", "Player3", "Player4", "Player5", "Player6", "Player7", "Player8", "Player9", "Player10",]
